#wpcontent {
    padding: 0; /*Override default wp padding*/
}

#am-admin-page,
#am-admin-page p {
    font-size: 1rem;
}

#am-admin-page button {
    margin-top: 2rem;
    padding: 10px 14px;
    border-radius: 5px;
    background-color: #283261;
    color: white;
    cursor: pointer;
}

#am-admin-page .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px;
}
#am-admin-page .logo .title {
    padding-left: 16px;   
}

#am-admin-page nav {
    background-color: #fff;
}
#am-admin-page nav .tab-item {
    margin: 0 18px;
    padding: 18px 0;
    display: inline-block;
    color: #6B6B6C;
    text-decoration: none;
    font-size: 1rem;
}
#am-admin-page nav .tab-item.active {
    border-bottom: 3px solid #E7973A;
}


#am-admin-page .tab-content {
    padding: 18px;
}
#am-admin-page .tab-content .tab {
    display: none;
}
#am-admin-page .tab-content .tab.active {
    display: block;
}


#am-admin-page #challenge-tab .select-challenge-id {
    margin-bottom: 2rem;
}

#am-admin-page #challenge-tab .select-challenge-id select {
    min-width: 60px;
    text-align: center;
    margin-left: 10px;
}
#am-admin-page #challenge-tab .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1.2rem 0;
    border-bottom: 1px solid rgb(223, 223, 223);
}
#am-admin-page #challenge-tab .row:last-child {
    border-bottom: none;
}
#am-admin-page #challenge-tab .row > div:nth-child(1) {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
}
#am-admin-page #challenge-tab .row > div:nth-child(2) {
    flex-grow: 3;
}
#am-admin-page #challenge-tab .row > div > * {
    margin-top: 0;
} 

#am-admin-page #reset-tab p {
    max-width: 650px;
    line-height: 1.5;
}

#am-admin-page #reset-tab ul {
    margin: 1.5rem 0 0;
    line-height: 1.5;
    max-width: 650px;
}
#am-admin-page #reset-tab ul li {
    margin-bottom: 1.2rem;
}