.wp-block-am-apiplugin-am-apiblock .Loading {

    text-align: center;
    padding: 24px 16px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;

    h5 {
        margin: 0;
        margin-top: 0.5rem;
    }

    span.dashicons-admin-site-alt3 {
        $dashion-dimension: 100;
        font-size: calc($dashion-dimension / 16) + unquote("rem");;
        width: $dashion-dimension + unquote("px");;
        height: $dashion-dimension + unquote("px");;
        color: #838282;
    }

    @keyframes dynamic-background {
        from { opacity: 1; }
        to { opacity: 0.5; }
    }  

    animation-name: dynamic-background;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}