.wp-block-am-apiplugin-am-apiblock {
    .Table {
        table {
            width: 100%;
            td, th {
                text-align: left;
                padding: 10px;
            }
            td {
                border-bottom: 1px solid rgb(235, 235, 235);
            }
            th {
                border-bottom: 1px solid rgb(200, 200, 200);
            }
        }
    }
}