#wpcontent {
    padding: 0;
}

.am-container {
    padding-left: 20px;
    padding-right: 20px;
}

#am-api-based-app {
    padding-top: 25px;
    position: relative;
}

#am-api-based-app .loading {
    cursor: progress;
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    from { opacity: 0.6; }
    to { opacity: 0.3; }
}

#am-api-based-app h1 {
    margin-top: 0;
}

#am-api-based-app input {
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 5px 7px 12px;
    line-height: 1.3;
    margin-right: 10px;
}

#am-api-based-app input:not([type="checkbox"]) {
    padding: 7px 5px 7px 12px;
    line-height: 1.3;
    min-height: 35px;
}

#am-api-based-app button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    outline: none;
    background-color: #ff982d;
    border-color: #ff982d;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
    min-height: 35px;
}