#wpcontent {
    padding: 0;
}

.am-container {
    padding-left: 20px;
    padding-right: 20px;
}

.am-section-separator {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
} 